body {
  background-color: slategray;
  color: white;

  cursor: default;
}
header {
  display: flex;
  justify-content: space-between;
  background-color: aqua;
  color: black;
  padding: 0 10px;
}
header ul {
  display: flex;
  justify-content: space-around;
  padding-top: 20px;
}
header ul li {
  margin-left: 30px;
  list-style: none;
  cursor: pointer;
}
header ul li:hover {
  color: rgb(167, 157, 157);
}

.wrapper {
  background-color: rgb(86, 187, 91);
  padding: 10px;
  width: 66vw;
  margin: 100px auto;
}

.individualTask {
  background-color: brown;
  padding: 5px 30px;
  text-align: center;
  position: relative;

  margin: 20px auto;
}
.individualTask .title {
  background-color: blue;
  display: inline-block;
  padding: 10px;
}
.description {
  text-align: left;
}
.status {
  background-color: blue;
  margin: 10px;
  padding: 5px;
}
.taskTime {
  background-color: aqua;
  color: black;
  padding: 5px;
  border-radius: 40px;
  margin: 10px;
}
.remainingTime {
  color: white;
  background-color: blueviolet;
  padding: 6px;
  border-radius: 29px;
}
.taskInfo {
  padding: 10px;
  display: flex;
  justify-content: space-around;
}
.markAsCompleted {
  position: absolute;
  right: 10px;
}
@media (max-width: 500px) {
  .remainingTime {
    font-size: 0.8rem;
    padding: 0;
    border-radius: none;
    background-color: transparent;
  }
  body {
    background-color: #fff;
  }
  .taskInfo {
    flex-flow: row wrap;
  }
  .description {
    font-size: 0.8rem;
  }
  header ul {
    display: flex;
    flex-flow: row wrap;
    position: absolute;
    right: 10px;
    padding: 10px;

    background-color: rgb(53, 26, 26);
    color: white;
  }
  .openMenu {
    color: white;
    width: 40px;
    height: 40px;
    font-weight: bolder;
    font-size: xxx-large;
  }
  header ul li {
    margin: 0;
    width: 100%;
  }
  .home {
    display: flex;
    justify-content: space-between;
  }
  .closeMenu {
    background-color: red;
    color: white;
    font-weight: bold;
    border-radius: 50%;
    padding-left: 2px;
    padding-right: 2px;
    display: inline !important;
  }
  .individualTask .title {
    font-size: 0.7em;
  }
  .markAsCompleted label {
    content: '';
  }
  .hideMenu {
    animation-name: hideModal;
    animation-timing-function: ease-in;
    animation-duration: 1s;

    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }
  @keyframes hideModal {
    0% {
      opacity: 1;
      display: flex;
    }
    50% {
      opacity: 0.3;
    }
    100% {
      opacity: 0;
      display: none;
    }
  }
}
.closeMenu {
  display: none;
}
.formWrapper form {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
.formWrapper form div {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  margin: 10px auto;
}
textarea {
  field-sizing: content;
  scrollbar-width: none;
  resize: none;
  outline: none;
  min-width: 200px;
  min-height: 30px;
}
label::after {
  content: ' : ';
}
.formWrapper form input {
  border: 2px solid brown;
  outline: none;
  padding: 8px;
  border-radius: 10px;
  margin-left: 5px;
}
#btn-div {
  justify-content: end;
}
.formWrapper form input[type='submit'] {
  color: white;
  background-color: rgb(58, 3, 255);
  padding: 10px;
}
.formWrapper form input[type='submit']:hover {
  background-color: rgb(34, 1, 22);
}
